<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      Bienvenidos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/img/home.jpg" alt="" />
      <ion-card-header text-center>
        <ion-card-subtitle>Edward Diaz</ion-card-subtitle>
        <ion-card-title>Taller de ionic</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Esta aplicación contiene un modulo de peliculas y un modulo de camara implementada con capacitor</p>
      </ion-card-content>
    </ion-card>
</ion-content>
